[Desktop Entry]
Name=NoteEdit
Name[de]=Noteneditor
Name[sv]=Notredigerare
Exec=noteedit %i %m -caption "%c"
MimeType=audio/x-notes
Type=Application
Comment=Note editor
Comment[de]=Noteneditor
Comment[sv]=Notredigerare
Terminal=0
Icon=noteedit
ServiceTypes=Browser/View
X-KDE-Library=libnoteedit
